global
    log stdout format raw local0
    maxconn 256

defaults
    log global
    timeout connect 2s
    timeout client 120s
    timeout server 120s

frontend http
    bind :8080
    mode http
    default_backend apps

backend apps
    mode http
    balance roundrobin
    option http-server-close
    option httpchk GET /readyz
    http-check expect status 200
    server node-1 node-1:8080 check inter 2s fall 2 rise 1
    server node-2 node-2:8080 check inter 2s fall 2 rise 1

frontend mysql
    bind :6033
    mode tcp
    default_backend proxies

backend proxies
    mode tcp
    balance roundrobin
    option tcp-check
    server proxysql-1 proxysql-1:6033 check inter 2s fall 2 rise 1
    server proxysql-2 proxysql-2:6033 check inter 2s fall 2 rise 1
